#texto {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


#texto2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: white;
}
/*-----------------------------------------------------*/

.Contenedor {
    display: flex;
    justify-content: left;
    allign-items: center;

}

.imagen {
    width: 550px;
    height: 350px;
    margin-right: 25px;
    border-radius: 15px;
}

.txt {
    text-align: center;
}

.Contenedor2 {
    display: flex;
    justify-content: right;
    allign-items: center;
    color: white;
}

.imagen2 {
    width: 550px;
    height: 350px;
    margin-left: 25px;
    border-radius: 15px;
}


/*-----------------------------------------------------*/

#titulo {
    color: rgb(32, 129, 189);
    text-align: center;
}