#texto {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1f3161;
}

#texto2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: white;
}
/*---------------------------fotos------------------------*/

#foto {
    justify-content: center;
}

/*-----------------------------------------------------*/

#titulo {
    color: rgb(32, 129, 189);
    text-align: center;
}